<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.githubyss.mobile.common.net"
    tools:ignore="LockedOrientationActivity"
    >

    <application
        android:name=".app.application.ComnetApplication"
        android:allowBackup="false"
        android:icon="@mipmap/comres_ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/comres_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/comres_app_gray_theme"
        >

        <activity
            android:name=".app.page.homepage.HomepageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/comres_activity_noActionBar_theme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
